# VCS
.git
.gitignore

# CI/CD
/.circleci
/ci

# Development configuration/data
/appservice.yaml
/gateway-config.yaml
/local-dev
/webhook-db.sqlite
.editorconfig
Dockerfile
dist.sh

# Build output
/out

# Dependencies
/node_modules
